body{
    text-align: center;
    background-color: #f9f1f1;
}
.canvas {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 508px;
    width: 508px;

    border: 4px solid #fff0db;
}

.black {
    background-color: #000000;
}

.offwhite {
    background-color: #fAf9f6;
}

.gray {
    background-color: #A9A9A9;
}