.canvas {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}

.black {
    background-color: #000000;
}

.offwhite {
    background-color: #fAf9f6;
}

.gray {
    background-color: #A9A9A9;
}